.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 10%;
    flex-wrap: wrap;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 2em;
    font-size: 1em;
}

.nav-connect {
    padding: 0.75em 1.25em;
    border-radius: 50px;
    background: linear-gradient(267deg, #39d6e4 0.36%, #B923E1 102.0%);
    font-size: 1em;
    cursor: pointer;
    transition: transform 0.5s;
}

img {
    width: 8vw;
    height: auto;
}

.nav-connect:hover {
    transform: scale(1.05);
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}
.nav-menu li img{
    display: flex;
    margin: auto;
    width: 37px;
    height: auto;
}
.anchor-link{
    text-decoration: none;
    color: white;
}


/* Responsive design */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .nav-menu {
        flex-direction: column;
        gap: 1em;
    }

    .navbar img {
        width: 15vw;
    }

    .nav-connect {
        padding: 1em 1.5em;
        font-size: 1.25em;
    }
}